body {font-size: 24px; font-family: sans-serif; font-style: italic;}
		a {color: purple}
		.picture { width: 200px; height: 121px; }

		ol {font-style: italic;}
		#introduction {font-style: bold}
.table{
	color: fuchsia;
}
img{
	height: 200px;
	width: 250px;
	box-shadow: hotpink 10px 10px 10px 10px;
}