.container{
    height: 100vh;
    width: 100vw;
    border: solid black 1px;
    display: flex;
    margin: 0 auto; 
}

.insideContainers{
    border: solid blue 1px;
    height: 100% ;
    width: 100% ;
}